<template>
  <div v-if="!loading">
    <v-container fluid>
      <v-layout row>
        <v-flex xs12>
          <v-carousel
              delimiter-icon="mdi-stop"
              prev-icon="mdi-arrow-left"
              next-icon="mdi-arrow-right"
          >
            <v-carousel-item
                v-for="(product, index) in promoProducts"
                :key="index"
                :src="product.imageSrc"
            ></v-carousel-item>
          </v-carousel>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex
            xs12
            sm6
            md4
            v-for="(product, index) in products"
            :key="index"
        >
          <router-link :aria-label="product.title" :to="'/product/' + product.id">
            <v-card>

              <v-img
                  height="350"
                  :src="product.imageSrc"
              ></v-img>

              <v-card-title>
                <div>
                  <h3 class="card_heading heading">{{product.title}}</h3>
                  <div class="card_describe">
                    <p class="subheading">{{product.description.substring(0, 60)}}</p>
                    <p class="subheading card_price">
                      <span class="title">Price:</span> ${{product.price}}
                    </p>
                  </div>
                </div>
              </v-card-title>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn dark class="mr-3" color="light-blue darken-4" rounded outlined :to="'/product/' + product.id">Description</v-btn>
                <app-buy-dialog :product="product"></app-buy-dialog>
              </v-card-actions>

            </v-card>
          </router-link>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
  <div v-else>
    <v-container>
      <v-layout row>
        <v-flex xs12 class="text-xl-center pt-5">
          <v-progress-circular
              :size="100"
              :width="4"
              color="primary"
              indeterminate
          ></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    computed: {
      promoProducts() {
        return this.$store.getters.promoProducts;
      },
      products() {
        return this.$store.getters.products;
      },
      loading() {
        return this.$store.getters.loading;
      }
    }
  }
</script>

<style scoped>
  .card_heading {
    margin-bottom: 1.5rem;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
  }
  .card_describe {
    margin-top: auto;
    padding-left: 1rem;
  }
  .card_price{
    font-size: 18px;
    color: #c00f1b;
  }

  a {
    text-decoration: none;
  }
</style>
