<template>
  <div>
    <v-navigation-drawer app temporary v-model="sideNav">
      <v-list dense>
        <v-list-item-group
            color="primary"
        >
          <v-list-item v-for="(link, index) in links" :key="index" :to="link.url">
            <v-list-item-icon>
              <v-icon>{{link.icon}}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="link.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>

        <v-list-item-group
            color="primary"
            v-if="isUserLogeIn"
        >
          <v-list-item
            @click="onLogout"
          >
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="'Logout'"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app dark color="primary">
      <v-app-bar-nav-icon @click="sideNav = !sideNav" class="hidden-md-and-up"></v-app-bar-nav-icon>

      <router-link to="/" color="white">Online Store</router-link>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
            text
            v-for="(link, index) in links"
            :key="index"
            :to="link.url"
        >
          <v-icon left>
            {{link.icon}}
          </v-icon>
          {{link.title}}
        </v-btn>

        <v-btn
            text
            @click="onLogout"
            v-if="isUserLogeIn"
        >
          <v-icon left>
            mdi-logout
          </v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </div>
</template>

<script>
  export default {
    name: 'NavBar',
    data: () => ({
      sideNav: false
    }),
    methods: {
      onLogout() {
        this.$store.dispatch('logoutUser');
        this.$router.push('/login');
      }
    },
    computed: {
      isUserLogeIn() {
        return this.$store.getters.isUserLogeIn;
      },
      links() {
        if(this.isUserLogeIn) {
          return [
            {title: 'Cart', icon: 'mdi-shopping', url: '/checkout'},
            {title: 'New Product', icon: 'mdi-plus', url: '/new'},
            {title: 'My Products', icon: 'mdi-clipboard', url: '/list'}
          ]
        }
        return [
          {title: 'Login', icon: 'mdi-account', url: '/login'},
          {title: 'Register', icon: 'mdi-face', url: '/register'},
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  a {
    font-size: 20px;
    font-weight: 700;
    color: #fff !important;
    text-decoration: none;
  }
</style>