<template>
  <div id="app">
    <v-app>
      <nav-bar/>
      <template v-if="error">
        <v-snackbar
            :multi-line="true"
            :timeout="5000"
            color="error"
            @input="closeError"
            :value="true"
        >

          {{ error }}

          <template v-slot:action="{ attrs }">
            <v-btn
                dark
                text
                v-bind="attrs"
                @click.native="closeError"
            >
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </template>
    </v-app>
  </div>
</template>

<script>
  import NavBar from "./components/NavBar";

  export default {
    components: {
      NavBar
    },
    methods: {
      closeError() {
        this.$store.dispatch('clearError');
      }
    },
    computed: {
      error() {
        return this.$store.getters.error
      }
    }
  }
</script>

<style lang="scss">

</style>
